<app-divider>Place Holder</app-divider>
<div class="ui placeholder">
  <div class="image header">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<app-divider>Segment</app-divider>
<app-segment>
  <header>
    <i class="pdf file outline icon"></i> No documents are listed for this
    customer.
    <div class="ui primary button">Add Document</div>
  </header>
</app-segment>
